@page
@model TokenManagement.Pages.AssignNewApplicationToPolicyModel
@{
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.Definition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.Definition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.IsOrganizationDefault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.IsOrganizationDefault)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TokenLifetimePolicyDto.Id" />
            <div class="form-group">
                <label class="control-label">Unassigned Single Org Applications</label>
                <select asp-for="ApplicationGraphId" asp-items="Model.ApplicationOptions" 
                        class="form-control" style="width:100%">
                </select>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

<h4>All your applications</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllApplications[0].DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllApplications[0].AppId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllApplications[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllApplications[0].SignInAudience)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllApplications)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignInAudience)
            </td>
        </tr>
        }
    </tbody>
</table>