@page
@model TokenManagement.Pages.AssignNewApplicationToPolicyModel
@{
}

<div class="card bg-light mb-3">
    <div class="card-header">Token Lifetime Policy</div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.Definition)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TokenLifetimePolicyDto.Definition)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.DisplayName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TokenLifetimePolicyDto.DisplayName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.IsOrganizationDefault)
            <dd class="col-sm-8">
                <input asp-for="TokenLifetimePolicyDto.IsOrganizationDefault" disabled class="big_checkbox" />
            </dd>
        </dl>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            Only "AzureADMyOrg" and "AzureADMultipleOrgs" applications can be assigned a policy. An application can only be assigned a single policy.
            If your application is not in the drop down, it is already assigned, or is an "AzureADandPersonalMicrosoftAccount" application.
            Check the <a asp-area="" asp-page="/Applications">AAD Applications</a> to see all.
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TokenLifetimePolicyDto.Id" />
                    <div class="form-group">
                        <label class="control-label">Select Application</label>
                        <select asp-for="ApplicationGraphId" asp-items="Model.ApplicationOptions"
                                class="form-control">
                        </select>
                    </div>

                    <br />

                    <div class="form-group">
                        <input type="submit" value="Assign TokenLifetimePolicy to selected Application" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>