@page
@model TokenManagement.Pages.AadTokenPolicies.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TokenLifetimePolicyDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.Definition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.Definition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TokenLifetimePolicyDto.IsOrganizationDefault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TokenLifetimePolicyDto.IsOrganizationDefault)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyAssignedApplications[0].DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyAssignedApplications[0].AppId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyAssignedApplications[0].Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PolicyAssignedApplications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TokenLifetimePolicyDto.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
